include mixins 

section#cB273FF
	.content
		.title 
			h2 Investor spending by region
		.other
			h3 US vs. Rest of the World
			p. 
				#[strong US] dominated with a total of #[strong $428.48B] raised in #[strong total funding]. In the #[strong second] place was #[strong China] with #[strong $32.4B] and #[strong third] was occupied by #[strong United Kingdom] with #[strong $21.5B].
			h3 Top 3 Regions in US
			p.
				#[strong California], #[strong New York], and #[strong Massachussets] are the #[strong top 3 regions] in #[strong US] that had the #[strong highest total amount of funding] over the years #[strong 2007]-#[strong 2014].
			+bpoint('<strong>California</strong> - <strong>$162.4B</strong>, or <strong>37.9%</strong>, in <strong>total funding</strong>')
			+bpoint('<strong>New York</strong> - <strong>$65B</strong>, or <strong>15.1%</strong>, in <strong>total funding</strong>')
			+bpoint('<strong>Massachusetts</strong> - <strong>$35.5B</strong>, or <strong>8.3%</strong>, in <strong>total funding</strong>')
			p.
				Overall, these #[strong top 3 regions] had been responsible for #[strong 61.4%], or #[strong $262.9B], of the #[strong total amount of funding].
			p.
				#[strong New Jersey] came in the #[strong 13th] place in the country.
			+bpoint('<strong>New Jersey</strong> - <strong>$7.2B</strong>, or <strong>1.7%</strong>, in <strong>total funding</strong>')
