include mixins

section#c1FCCB3
  .content
    .title
      h2 Acquisitions by major companies
    .other
      h3 Overview
      p.
        The amount of money spent on #[strong acquisitions] between #[strong 2007]
        and #[strong 2014] was #[strong $2.8 trillion]. #[strong Apple], 
        #[strong Google], #[strong HTC], #[strong LG], #[strong Microsoft],
        and #[strong Samsung] together made up about #[strong 21%] of that sum,
        which is about #[strong $60.4B].
      h3 Comparison 
      +bpoint('<strong>Google</strong> spent <strong>$25.5B</strong> for acquisitions, with <strong>top 3</strong> markets of <strong>mobile</strong>, <strong>advertising</strong>, and <strong>home automation</strong>')
      +bpoint('<strong>Microsoft</strong> spent <strong>$22.7B</strong> for acquisitions, with <strong>top 3</strong> markets of <strong>mobile</strong>, <strong>curated web</strong>, and <strong>games</strong>')
      +bpoint('<strong>Apple</strong> spent <strong>$8.2B</strong> for acquisitions, with <strong>top 3</strong> markets of <strong>semiconductors</strong>, <strong>hardware + software</strong>, and <strong>advertising</strong>')
      +bpoint('<strong>Samsung</strong> spent <strong>$577M</strong> for acquisitions in the <strong>home automation</strong> market')
      +bpoint('<strong>LG</strong> spent <strong>$200M</strong> for acquisitions')
      +bpoint('<strong>HTC</strong> spent <strong>$31.5M</strong> for acquisitions in the <strong>mobile</strong> and <strong>software</strong> markets')
