section#cB273FF
  .content
    .title 
      h2 Initial Findings
    .other
      h3 Why Only US?
      p. 
        #[strong US] is dominating with a total of #[strong $428.48B] raised in funding. The #[strong second] is #[strong China] with #[strong $32.4B] and #[strong third United Kingdom] with #[strong $21.5B].
      h3 Top 3 Areas in US
      p. 
        At a firts glance, we've been able to determine that #[strong California], #[strong New York], and #[strong Massachusetts] are the #[strong top 3 areas] in #[strong US] that had the #[strong higest total funding] over those #[strong 7 years].
      .list-item
        .bullet
          i.fa.fa-long-arrow-right(aria-hidden='true')
        .content.
          #[strong California] - #[strong $162.4B], or #[strong 37.9%], in #[strong total funding]
      .list-item
        .bullet
          i.fa.fa-long-arrow-right(aria-hidden='true')
        .content.
          #[strong New York] - #[strong $65B], or #[strong 15.1%], in #[strong total funding]
      .list-item
        .bullet
          i.fa.fa-long-arrow-right(aria-hidden='true')
        .content.
          #[strong Massachusetts] - #[strong $35.5B], or #[strong 8.3%], in #[strong total funding]
      p.
        Overall, these #[strong top 3 areas] have been responsible for #[strong 61.4%], or #[strong $262.9B], of the #[strong total amount of funding] in #[strong US].
      h3 What About New Jersey?
      p.
        #[strong New Jersey] comes in at the #[strong 13th] place in the country.
      .list-item
        .bullet
          i.fa.fa-long-arrow-right(aria-hidden='true')
        .content.
          #[strong New Jersey] - #[strong $7.2B], or #[strong 1.7%], in #[strong total funding]