include mixins

section#cFF4040
  .content
    .title
      h2 Startup Venture Funding
    .other
      h3 Overview
      p. 
        #[strong Startup Venture Funding] is a type of equity financing that addresses the funding needs of entrepreneurial companies that for reasons of size, assets, and stage of development cannot seek capital from more traditional sources, such as public markets and banks. Venture capital investments are generally made as cash in exchange for shares and an active role in the invested company.
      p.
        Venture capital differs from traditional financing sources in that venture capital typically:
      +bpoint('Focuses on young, high-growth companies')
      +bpoint('Invests equity, capital, rather than debt')
      +bpoint('Takes higher risks in exchange for potential higher returns')
      +bpoint('Has a longer investment horizon than traditional financing')
      +bpoint('Actively monitors portfolio companies via board participation, strategic marketing, governance, and capital structure')