section#cA067E5
	+tooltip('Investments by major companies')
	.slide
		iframe(src='https://public.tableau.com/views/18_04_2017_Invst_by_Apple/DInvstbyApple?:embed=y&:showVizHome=no&:host_url=https%3A%2F%2Fpublic.tableau.com%2F&:tabs=no&:toolbar=yes&:animate_transition=yes&:display_static_image=no&:display_spinner=no&:display_overlay=yes&:display_count=yes&:loadOrderID=0')
	.slide
		iframe(src='https://public.tableau.com/views/18_04_2017_Invst_by_Google/DInvstbyGoogle?:embed=y&:showVizHome=no&:host_url=https%3A%2F%2Fpublic.tableau.com%2F&:tabs=no&:toolbar=yes&:animate_transition=yes&:display_static_image=no&:display_spinner=no&:display_overlay=yes&:display_count=yes&:loadOrderID=0')
	.slide
		iframe(src='https://public.tableau.com/views/18_04_2017_Invst_by_LG/DInvstbyLG?:embed=y&:showVizHome=no&:host_url=https%3A%2F%2Fpublic.tableau.com%2F&:tabs=no&:toolbar=yes&:animate_transition=yes&:display_static_image=no&:display_spinner=no&:display_overlay=yes&:display_count=yes&:loadOrderID=0')
	.slide
		iframe(src='https://public.tableau.com/views/18_04_2017_Invst_by_Samsung/DInvstbySamsung?:embed=y&:showVizHome=no&:host_url=https%3A%2F%2Fpublic.tableau.com%2F&:tabs=no&:toolbar=yes&:animate_transition=yes&:display_static_image=no&:display_spinner=no&:display_overlay=yes&:display_count=yes&:loadOrderID=0')
	.slide
		iframe(src='https://public.tableau.com/views/18_04_2017_Invst_by_HTC/DInvstbyHTC?:embed=y&:showVizHome=no&:host_url=https%3A%2F%2Fpublic.tableau.com%2F&:tabs=no&:toolbar=yes&:animate_transition=yes&:display_static_image=no&:display_spinner=no&:display_overlay=yes&:display_count=yes&:loadOrderID=0')
	.slide
		iframe(src='https://public.tableau.com/views/18_04_2017_Invst_by_Microsoft/Dashboard6?:embed=y&:showVizHome=no&:host_url=https%3A%2F%2Fpublic.tableau.com%2F&:tabs=no&:toolbar=yes&:animate_transition=yes&:display_static_image=no&:display_spinner=no&:display_overlay=yes&:display_count=yes&:loadOrderID=0')
