section#c2EE5CA
  .content
    .title 
      h2 Top 3 Regions & New Jersey
    .other
      h3 Top 3 From 2007 To 2014
      p.
        Over the those #[strong 7 years], #[strong California] has been dominating in the amount of total funding raised.
      .list-item
        .bullet
          i.fa.fa-long-arrow-right(aria-hidden='true')
        .content.
          #[strong California] claimed the most amount of money in #[strong 2014], around #[strong $35.9B]
      .list-item
        .bullet
          i.fa.fa-long-arrow-right(aria-hidden='true')
        .content.
          #[strong New York] claimed the most amount of money in #[strong 2014], around #[strong $30.1B]
      .list-item
        .bullet
          i.fa.fa-long-arrow-right(aria-hidden='true')
        .content.
          #[strong Massachusetts] claimed the most amount of money in #[strong 2014], around #[strong $7.5B]
      h3 New Jersey
      .list-item
        .bullet
          i.fa.fa-long-arrow-right(aria-hidden='true')
        .content.
          #[strong New Jersey] claimed the most amount of money in #[strong 2013], around #[strong $1.4B]