include mixins

section#c3AA3E5
	.content
		.title
			h2 Investments by major companies
		.other
			h3 Findings
			p.
				In total, those #[strong major companies] were responsible for around #[strong $14B] in investments. That's about #[strong 3.3%] of the total #[strong $428.4B] invested during those seven years.
			p.
				The #[strong top 3] companies that invested the most are #[strong Google], #[strong Samsung], and #[strong Microsoft].
			h3 Comparison
			+bpoint('<strong>Google</strong> invested <strong>$11B</strong>, or <strong>78.6%</strong> out of the <strong>$14B</strong>')
			+bpoint('<strong>Samsung</strong> invested <strong>$1.2B</strong>, or <strong>8.6%</strong> out of the <strong>$14B</strong>')
			+bpoint('<strong>Microsoft</strong> invested <strong>$1.1B</strong>, or <strong>7.7%</strong> out of the <strong>$14B</strong>')
			+bpoint('<strong>Apple</strong> invested <strong>$377M</strong>, or <strong>2.7%</strong> out of the <strong>$14B</strong>')
			+bpoint('<strong>HTC</strong> invested <strong>$184M</strong>, or <strong>1.31%</strong> out of the <strong>$14B</strong>')
			+bpoint('<strong>LG</strong> invested <strong>$32M</strong>, or <strong>0.22%</strong> out of the <strong>$14B</strong>')
			h3 Markets of Interest
			+bpoint('<strong>Google\'s</strong> top 3 markets were <strong>Internet</strong>, <strong>transportation</strong>, and <strong>software</strong>')
			+bpoint('<strong>Samsung\'s</strong> top 3 markets were <strong>semiconductors</strong>, <strong>software</strong>, and <strong>storage</strong>')
			+bpoint('<strong>Microsoft\'s</strong> top 3 markets were <strong>mobile</strong>, <strong>e-commerce</strong>, and <strong>communities</strong>')
			+bpoint('<strong>Apple\'s</strong> top 3 markets were <strong>biotechnology</strong>, <strong>semiconductors</strong>, and <strong>hardware+software</strong>')
			+bpoint('<strong>HTC\'s</strong> top 3 markets were <strong>cloud-based music</strong>, <strong>curated web</strong>, and <strong>games</strong>')
			+bpoint('<strong>LG\'s</strong> top 3 markets were <strong>enterprise software</strong>, <strong>music</strong>, and <strong>semiconductors</strong>')
