section#cCC1FCB
	+tooltip('Top markets by total amount raised')
	iframe.show-controls(src='https://public.tableau.com/views/Investmentsbymarket_07_04/TopMarketsbyRegion?:embed=y&:showVizHome=no&:host_url=https%3A%2F%2Fpublic.tableau.com%2F&:tabs=no&:toolbar=yes&:animate_transition=yes&:display_static_image=no&:display_spinner=no&:display_overlay=yes&:display_count=yes&:loadOrderID=0')
