section#cFF5A59
  .content
    .title 
      h2 Top Markets by Region
    .other
      h3 Observations
      p.
        Overall, the #[strong top 5] markets include #[strong biotechnology], #[strong clean technology], #[strong health care], #[strong mobile], and #[strong software].
      .list-item
        .bullet
          i.fa.fa-long-arrow-right(aria-hidden='true')
        .content.
          In #[strong California], the #[strong top 3] markets are #[strong biotechnology], #[strong clean technology], and #[strong software].
      .list-item
        .bullet
          i.fa.fa-long-arrow-right(aria-hidden='true')
        .content.
          In #[strong New York], the #[strong top 3] markets are #[strong mobile], #[strong biotechnology], as well as #[strong health and wellness].
      .list-item
        .bullet
          i.fa.fa-long-arrow-right(aria-hidden='true')
        .content.
          In #[strong California], the #[strong top 3] markets are #[strong biotechnology], #[strong clean technology], and #[strong software].
      .list-item
        .bullet
          i.fa.fa-long-arrow-right(aria-hidden='true')
        .content.
          In #[strong Massachussets], the #[strong top 3] markets are #[strong biotechnology], #[strong clean technology], and #[strong healt care].
      .list-item
        .bullet
          i.fa.fa-long-arrow-right(aria-hidden='true')
        .content.
          Lastly, in #[strong New Jersey], the #[strong top 3] markets are #[strong biotechnology], #[strong health care], and #[strong web hosting].
      p.
        Interestingly, #[strong analytics] was in the #[strong 9th] place in terms of "popularity."