section#cF35138
  .content
    .title 
      h2 The best time to look for jobs
    .other
      h3 Observations
      p.
        In general, you are more likely to get a job during the #[strong first three months] of the year. However, this varies by region.
      .list-item
        .bullet
          i.fa.fa-long-arrow-right(aria-hidden='true')
        .content.
          In #[strong California], the funding is somewhat consistent throughout the year, with only a slight advantage in months of #[strong January], #[strong June], and #[strong Sepetember].
      .list-item
        .bullet
          i.fa.fa-long-arrow-right(aria-hidden='true')
        .content.
          #[strong New York], on the other hand is pretty "busy" in the months of #[strong February], and #[strong March].
      .list-item
        .bullet
          i.fa.fa-long-arrow-right(aria-hidden='true')
        .content.
          In #[strong Massachussets], is pretty consistent with only a slight peak during the month of #[strong January].
      .list-item
        .bullet
          i.fa.fa-long-arrow-right(aria-hidden='true')
        .content.
          Lastly, #[strong New Jersey], are seeing a slight advantage in the months of #[strong May], and #[strong September]. Other than that, it's pretty consistent throughout the year.