section#cF35138
	.content
		.title 
			h2 Total investments by month
		.other
			h3 Observations
			p.
				In general, investments are more likely to be made during the #[strong first three months] of the year. However, this varies by region.
			+bpoint('In <strong>California</strong>, the funding is somewhat consistent throughout the year, with only a slight advantage in the months of <strong>January</strong>, <strong>June</strong>, and <strong>September</strong>')
			+bpoint('<strong>New York</strong>, on the other hand, is pretty "busy" in the months of <strong>February</strong> and <strong>March</strong>')
			+bpoint('<strong>Massachussets</strong> is pretty consistent with a slight peak during the month of <strong>January</strong>')
			+bpoint('<strong>New Jersey</strong> are seeing a slight advantage in the months of <strong>May</strong> and <strong>September</strong>. It stays pretty consitent throughout the rest of the year')