include mixins

section#c5BCC1F
  .content
    .title 
      h2 Startup Venture Funding Dataset
    .other
      h3 Dataset
      p.
        The dataset we've selected is the #[strong Startup Venture Funding] from the #[strong Tableau] website. It includes information about startup companies and data related to #[strong investments], 
        #[strong acquisitions], and #[strong rounds]. 
      p. 
        This dataset comes from the #[strong Crunchbase], which is a database that provides information on latest industry trends, investment insights, and rich company data. It was collected over the period of #[strong 7 years], from #[strong 2007] to #[strong 2014].
      h3 Goals
      p.
        Ultimately, we are interested in answering the following question...
      +bpoint('<strong>Where investors are spending the most on startups?</strong>')
