include mixins

section#c3AA3E5
	.content
		.title
			h2 Investments by major companies
		.other
			h3 Overall
			p.
				Looking at the investing patterns from those #[strong 6 big comapanies] in the years of #[strong 2007]-#[strong 2014], in total they were responsible for around #[strong $6.9B] in investments. That's around #[strong 1.6%] of the total #[strong $428.4B] invested in those years.
			h3 Markets of Interest
			+bpoint('<strong>Apple</strong> had mainly invested in the <strong>hardware + software</strong> and <strong>semiconductors</strong> markets, with the total of <strong>$</strong> invested')
			+bpoint('<strong>Google</strong> was havily investing in the <strong>Internet</strong> market, with over <strong>$3.2B</strong> invested in this market, following by <strong>video</strong>, <strong>$595M<strong>, and <strong>enterprise software</strong>, <strong>$410M</strong>')
			+bpoint('<strong>HTC</strong> focused on <strong>cloud-based music</strong>, with close to <strong>$104</strong> spent on this market, following by <strong>curated web</strong> and <strong>games</strong>')
			+bpoint('<strong>LG</strong> focused on <strong>music</strong>, <strong>semiconductors</strong>, and <strong>software</strong>')
			+bpoint('<strong>Microsoft</strong> main market of interest was <strong>mobile</strong> and <strong>ecommerce</strong>, following by <strong>communities</strong>')
			+bpoint('<strong>Samsung</strong> focused mainly on <strong>mobile</strong>, <strong>semiconductors</strong>, and <strong>software</strong>')