include mixins

section#c3AA3E5
	.content
		.title
			h2 Investments by major companies
		.other
			h3 Overall
			p.
				Looking at the investing patterns from those #[strong 6 big comapanies] in the years of #[strong 2007]-#[strong 2014], in total they were responsible for around #[strong $6.9B] in investments. That's around #[strong 1.6%] of the total #[strong $428.4B] invested in those years.
			h3 Markets of Interest
			+bpoint('<strong>Apple</strong> invested in the <strong>hardware + software</strong> (<strong>$53M</strong>) and <strong>semiconductors</strong> (<strong>$5M</strong>) markets')
			+bpoint('<strong>Google</strong> was heavily investing in the <strong>internet</strong> market (<strong>$3.2B</strong>), following by <strong>video</strong> (<strong>$595M</strong>), and <strong>enterprise software</strong> (<strong>$410M</strong>)')
			+bpoint('<strong>HTC</strong> focused on <strong>cloud-based music</strong> (<strong>$104M</strong>), following by <strong>curated web</strong> (<strong>$40M</strong>) and <strong>games</strong> (<strong>$40M</strong>)')
			+bpoint('<strong>LG</strong> focused on <strong>music</strong> (<strong>$17M</strong>) and <strong>semiconductors</strong> (<strong>$247K</strong>)')
			+bpoint('<strong>Microsoft</strong> markets of interest were <strong>mobile</strong> (<strong>$300</strong>) and <strong>ecommerce</strong> (<strong>$300M</strong>), following by <strong>communities</strong> (<strong>$240M</strong>')
			+bpoint('<strong>Samsung</strong> focused on <strong>mobile</strong> (<strong>$28M</strong>), <strong>semiconductors</strong> (<strong>$20M</strong>), and <strong>software</strong> (<strong>$20M</strong>)')