section#c2EE5CA
  .content
    .title 
      h2 Total funding in top 3 + NJ by year
    .other
      h3 Top 3 Regions
      p.
        Over the period of #[strong 2007]-#[strong 2014], #[strong California] domainated in the amount of #[strong total funding raised].
      +bpoint('<strong>California</strong> claimed the most amount of money in <strong>2014</strong>, around <strong>$35.9B</strong>')
      +bpoint('<strong>New York</strong> claimed the most amount of money in <strong>2014</strong>, around <strong>$30.1B</strong>')
      +bpoint('<strong>Massachusetts</strong> claimed the most amount of money in <strong>2014</strong>, around <strong>$7.5B</strong>')
      h3 New Jersey
      +bpoint('<strong>New Jersey</strong> claimed the most amount of money in <strong>2013</strong>, around <strong>$1.4B</strong>')