section#c17E317
  +tooltip('Acquisitions by major companies')
  .slide
    iframe.show-controls(src='https://public.tableau.com/views/Acq_by_big_companies_19_04/DAcqbyBigCompanies?:embed=y&:showVizHome=no&:host_url=https%3A%2F%2Fpublic.tableau.com%2F&:tabs=no&:toolbar=yes&:animate_transition=yes&:display_static_image=no&:display_spinner=no&:display_overlay=yes&:display_count=yes&:loadOrderID=0')
  .slide
    iframe(src='https://public.tableau.com/views/Acq_by_Google_19_04/DAcqbyGoogle?:embed=y&:showVizHome=no&:host_url=https%3A%2F%2Fpublic.tableau.com%2F&:tabs=no&:toolbar=yes&:animate_transition=yes&:display_static_image=no&:display_spinner=no&:display_overlay=yes&:display_count=yes&:loadOrderID=0')
  .slide
    iframe(src='https://public.tableau.com/views/Acq_by_Samsung_19_04/DAcqbySamsung?:embed=y&:showVizHome=no&:host_url=https%3A%2F%2Fpublic.tableau.com%2F&:tabs=no&:toolbar=yes&:animate_transition=yes&:display_static_image=no&:display_spinner=no&:display_overlay=yes&:display_count=yes&:loadOrderID=0')
  .slide
    iframe(src='https://public.tableau.com/views/Acq_by_Microsoft_19_04/DAcqbyMicrosoft?:embed=y&:showVizHome=no&:host_url=https%3A%2F%2Fpublic.tableau.com%2F&:tabs=no&:toolbar=yes&:animate_transition=yes&:display_static_image=no&:display_spinner=no&:display_overlay=yes&:display_count=yes&:loadOrderID=0')
  .slide
    iframe(src='https://public.tableau.com/views/Acq_by_Apple_19_04/DAcqbyApple?:embed=y&:showVizHome=no&:host_url=https%3A%2F%2Fpublic.tableau.com%2F&:tabs=no&:toolbar=yes&:animate_transition=yes&:display_static_image=no&:display_spinner=no&:display_overlay=yes&:display_count=yes&:loadOrderID=0')
  .slide
    iframe(src='https://public.tableau.com/views/Acq_by_HTC_19_04/DAcqbyHTC?:embed=y&:showVizHome=no&:host_url=https%3A%2F%2Fpublic.tableau.com%2F&:tabs=no&:toolbar=yes&:animate_transition=yes&:display_static_image=no&:display_spinner=no&:display_overlay=yes&:display_count=yes&:loadOrderID=0')
