include mixins

section#cFF8873
	+tooltip('Total Funding in Top 3 Regions Over Time')
	iframe(src='https://public.tableau.com/views/TotalFundinginTop3RegionsOverTime-Dashboard/Dashboard4?:embed=y&:showVizHome=no&:host_url=https%3A%2F%2Fpublic.tableau.com%2F&:tabs=no&:toolbar=yes&:animate_transition=yes&:display_static_image=no&:display_spinner=no&:display_overlay=yes&:display_count=yes&:loadOrderID=0')