section#cA067E5
	+tooltip('Investments by major companies')
	iframe(src='https://public.tableau.com/views/Investmentsbymajorcompanies_07_04/Dashboard1?:embed=y&:showVizHome=no&:host_url=https%3A%2F%2Fpublic.tableau.com%2F&:tabs=no&:toolbar=yes&:animate_transition=yes&:display_static_image=no&:display_spinner=no&:display_overlay=yes&:display_count=yes&:loadOrderID=0')