doctype html
html(lang='en')
  head
    title IS665 - Group Project
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet' href='main.min.css')
    
  body
    nav
      button #[i.fa.fa-arrow-circle-left(aria-hidden='true')]
      button #[i.fa.fa-arrow-circle-right(aria-hidden='true')]

    section#sec1
      .content
        .title
          h2 Startup Venture Funding
        .other
          h3 Overview
          p. 
            #[strong Startup Venture Funding] is a type of equity financing that addresses the funding needs of entrepreneurial companies that for reasons of size, assets, and stage of development cannot seek capital from more traditional sources, such as public markets and banks. Venture capital investments are generally made as cash in exchange for shares and an active role in the invested company.
          p.
            Venture capital differs from traditional financing sources in that venture capital typically:
          .list-item
            .bullet
              i.fa.fa-long-arrow-right(aria-hidden='true')
            .content.
              Focuses on young, high-growth companies
          .list-item
            .bullet
              i.fa.fa-long-arrow-right(aria-hidden='true')
            .content.
              Invests equity capital, rather than debt
          .list-item
            .bullet
              i.fa.fa-long-arrow-right(aria-hidden='true')
            .content.
              Takes higher risks in exchange for potential higher returns
          .list-item
            .bullet
              i.fa.fa-long-arrow-right(aria-hidden='true')
            .content.
              Has al onger investment horizon than traditional financing
          .list-item
            .bullet
              i.fa.fa-long-arrow-right(aria-hidden='true')
            .content.
              Actively monitors portfolio companies via board participation, strategic marketing, governance, and capital structure
    section#sec2
      .content
        .title 
          h2 Startup Venture Funding Dataset
        .other
          h3 Dataset
          p.
            The dataset we've selected is the #[strong Startup Venture Funding] from the #[Tableau] website. It includes information about startup companies and data related to #[strong investments], 
            #[strong acquisitions], and #[strong rounds]. 
          p. 
            This dataset comes from the #[strong Crunchbase], which is a database that provides information on latest industry trends, investment insights, and rich company data. It was collected over the period of #[strong 7 years], from #[strong 2007] to #[strong 2014].
          h3 Questions
          p.
            We are interested in answering the following questions...
          .list-item
            .bullet
              i.fa.fa-long-arrow-right(aria-hidden='true')
            .content.
              #[strong Where investors are spending the most on startups?]
          .list-item
            .bullet
              i.fa.fa-long-arrow-right(aria-hidden='true')
            .content.
              #[strong Which regions generate the greatest/lowest levels of startup funding by round? First, second, third?]
          .list-item
            .bullet
              i.fa.fa-long-arrow-right(aria-hidden='true')
            .content.
              #[strong Which industries generate the greatest/lowest levels of startup funding? Pharma? Analytics? Etc.?]

    section
      iframe(src='https://public.tableau.com/views/WhichareasintheUSareheavilyinvestinginstartups/StartupFundingsinUSinTotalMoneyinFunding?:embed=y&:showVizHome=no&:host_url=https%3A%2F%2Fpublic.tableau.com%2F&:tabs=no&:toolbar=yes&:animate_transition=yes&:display_static_image=no&:display_spinner=no&:display_overlay=yes&:display_count=yes&:loadOrderID=0')

    section#sec4
      .content
        .title 
          h2 Interesting Findings
        .other
          h3 Top 3 States (Regions?)
          p.
            At a first glance, we've been able to determine that #[strong California], #[strong New York], and #[strong Massachusetts] are the #[strong top 3] states in #[strong US] that had the #[strong highest total funding] over those #[strong 7 years]. #[strong California] had close to #[strong $190B] in #[strong total funding], #[strong New York] had #[strong $68B], and #[strong Massachusetts] had #[strong $39B].
          p.
            To put it in a different perspective, #[strong California] claimed #[strong 40%] of the #[strong total amount of funding] in #[strong US] over those #[strong 7 years], #[strong New York] claimed #[strong 14%], and #[strong Massachusetts] claimed #[strong 8%]. Overall, these #[strong top 3 regions] have been responsible for #[strong 63%] of the #[strong total amount of funding] in #[strong US].
          h3 What About New Jersey?
          p.
            Over those #[strong 7 years], #[strong New Jersey] has managed to claim around #[strong $7.8B] in #[strong total funding]. This puts #[strong New Jersey] in #[strong 13th] place in the country.
    
    section#sec5
      iframe(src='https://public.tableau.com/views/TotalFundinginUSDBetween2007-2014inTop3Regions/Dashboard2?:embed=y&:showVizHome=no&:host_url=https%3A%2F%2Fpublic.tableau.com%2F&:tabs=no&:toolbar=yes&:animate_transition=yes&:display_static_image=no&:display_spinner=no&:display_overlay=yes&:display_count=yes&:loadOrderID=0')

    section#sec6
      .content
        .title 
          h2 Top 3 & New Jersey
        .other
          h3 Years 2007-2014
          p.
            Over the years, #[strong California] has been "dominating" for the most part, except for #[strong mid-2009], #[strong 2010], and #[strong mid-2011], where #[strong New York] took the lead.
          .list-item
            .bullet
              i.fa.fa-long-arrow-right(aria-hidden='true')
            .content.
              #[i #[strong Note:] I think finding the reason why this happend would be a good idea...]
          .list-item
            .bullet
              i.fa.fa-long-arrow-right(aria-hidden='true')
            .content.
              #[strong Massachusetts] has claimed the most amount of money also in #[strong 2010], with over #[strong $6.7B] total in funding
          .list-item
            .bullet
              i.fa.fa-long-arrow-right(aria-hidden='true')
            .content.
              #[strong New York] has claimed the most amount of money in #[strong 2010], with over #[strong $35B] total in funding
          .list-item
            .bullet
              i.fa.fa-long-arrow-right(aria-hidden='true')
            .content.
              #[strong California] has claimed the most amount of money in #[strong 2009], with over #[strong $26B] total in funding
          .list-item
            .bullet
              i.fa.fa-long-arrow-right(aria-hidden='true')
            .content.
              Lastly, #[strong New Jersey] has been pretty steady over those 7 years, with the peak of around #[strong $1.35B] in #[strong 2009]
          p. 
            For comparison, #[strong New Jersey] has always been in the "lower boundries", but it is not "too far" from places like #[strong New York] and #[strong Massachusetts].


    .dots

    script(src='main.js')
    script(src='https://use.fontawesome.com/83271a002e.js')
      
