doctype html
html(lang='en')
  head
    title IS665 - Group Project
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    
    link(rel='stylesheet' href='main.min.css')
    
  body
    section.section
      .box
        h2 Block #1
        .btn-wrap
    section.section
      .box
        h2 Block #2
        .btn-wrap
    section.section
      .box
        h2 Block #3
        .btn-wrap
    section.section
      .box
        h2 Block #4
        .btn-wrap
    #pager
    
    script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
    script(src='main.js')
