doctype html
html(lang='en')
  head
    title IS665 - Group Project
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet' href='main.min.css')
    
  body
    nav
      button.btn-prev #[i.fa.fa-arrow-circle-left(aria-hidden='true')]
      button.btn-next #[i.fa.fa-arrow-circle-right(aria-hidden='true')]

    section
      h1 Box #1
    section 
      h1 Box #2
    section 
      h1 Box #3
    section
      h1 Box #4

    .dots

    script(src='main.js')
    script(src='https://use.fontawesome.com/83271a002e.js')
      
