include ./includes/mixins.pug

doctype html
html(lang='en')
	head
		title IS665 - Group Project
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')

		link(rel='stylesheet' href='main.min.css')
		
	body
		nav
			button #[i.fa.fa-arrow-circle-left(aria-hidden='true')]
			button #[i.fa.fa-arrow-circle-right(aria-hidden='true')]

		include includes/section1
		include includes/section2
		include includes/section3
		include includes/section4
		include includes/section5
		include includes/section6
		include includes/section7
		include includes/section8
		include includes/section9
		include includes/section10
		include includes/section11
		include includes/section12
		
		
		.dots

		script(src='main.js')
		script(src='https://use.fontawesome.com/83271a002e.js')
			
