doctype html
html(lang='en')
  head
    title IS665 - Group Project
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    
    link(rel='stylesheet' href='main.min.css')
    
  body
    .box.slide#first
      .authors
        p Tory Ragsdale
        p Jose De La Cruz
        p Tomasz Goralczyk
      span
        h2 Box #1 Title
        .content.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .box.slide#second
      .authors
        p Tory Ragsdale
        p Jose De La Cruz
        p Tomasz Goralczyk
      span
        h2 Box #2 Title
        .content.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .box.slide#third
      .authors
        p Tory Ragsdale
        p Jose De La Cruz
        p Tomasz Goralczyk
      span
        h2 Box #3 Title
        .content.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .box.slide#fourth
      .authors
        p Tory Ragsdale
        p Jose De La Cruz
        p Tomasz Goralczyk
      span
        h2 Box #4 Title
        .content.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      
    #nav
      #prevBtn.fa.fa-chevron-circle-left
      #nextBtn.fa.fa-chevron-circle-right
    
    #dots 
    
    script(src='https://use.fontawesome.com/83271a002e.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js')
    script(src='main.js')
      
