@import 'normalize.css'
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500')

.carousel-fade 
  .carousel-inner 
    .item 
      transition-property: opacity

        
    .item,
    .active.left,
    .active.right 
        opacity: 0

    .active,
    .next.left,
    .prev.right 
        opacity: 1

    .next,
    .prev,
    .active.left,
    .active.right 
        left: 0
        transform: translate3d(0, 0, 0)

  .carousel-control 
      z-index: 2

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item
  height: 100%

.item:nth-child(1) 
  background: #74C390
.item:nth-child(2)
  background: #51BCE8
.item:nth-child(3)
  background: #E46653

.content
  width: 100%
  height: 100%
  overflow: hidden
  display: flex
  justify-content: center
  align-items: center
  .slide
    width: 90%
    height: 80%
    overflow: hidden
    .tableauPlaceholder
      width: 100%
      height: 100%

.carousel-indicators
  li, li.active
    margin: 0 5px 0 0

// #first
//   background-color: #FF4040
//   color: #FF4040
//   h2
//     border-bottom: 3px solid #FF4040
//   .question
//     font-size: 1.25em
//     text-align: center
//     line-height: 40px
// #second
//   background-color: #5BCC1F
//   color: #5BCC1F
//   h2
//     border-bottom: 3px solid #5BCC1F
// #third
//   background-color: #40B5FF
//   color: #40B5FF
//   h2
//     border-bottom: 3px solid #40B5FF
// #fourth
//   background-color: #B273FF
//   color: #B273FF
//   h2
//     border-bottom: 3px solid #B273FF
